---
import Head from "@CommonLayouts/head.astro";
import Footer from "@CommonLayouts/footer.astro";

---

<html lang="en">
	<head>
		<Head page={{
			title: "Portfolio",
			description: "Página incial"
		}} />
		<meta name="generator" content={Astro.generator} />
		
	</head>
	<body>
		<h1>Astro</h1>

		<Footer />
	</body>
</html>
