---
import BaseLayout from "@Layouts/baseLayout.astro";

---
<BaseLayout page={{
	title: "Portafolio",
	description: "Página principal del portafolio"
}}>
	<section>
		<div>
			<h1>Bienvenido al portafolio</h1>
		</div>
	</section>
</BaseLayout>