---
import "../../styles/global.css";

const { page } = Astro.props
---

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{page.title}</title>
<meta name="description" content={page.description} />
<meta name="author" content="Alejandro González" />
<meta name="keywords" content="Portfolio, Astro, Alejandro González, Developer" />

<!-- Web analytics -->

<!-- Open Graph tags -->